@model MvcEmptyWebApp1.Models.BalanceBaseModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New payment", "NewPayment", "Auth")</li>
                    <li>@Html.ActionLink("Transaction List", "TransactionList", "Auth")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-btn"><input type="button" class="btn btn-primary" value="@Model.Name Balance : @Model.AmountLeft €" /></li> 
                    <li class="navbar-btn" style="float:right"><input type="button" class="btn btn-danger" value="Log out" onclick="location.href='@Url.Action("LogOut", "Auth")'" />
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
